$background-color: darkgray;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: $background-color;
    color: white;
}

header {
    height: 50px;
}

.nav {
    width: 100%;
    position: fixed;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //border: 2px solid red;
    background: blue;
    height: 50px;

    .nav__header {
        color: white;
    }

    .nav__links {
        display: flex;
        list-style-type: none;
    
        .nav__btn {
            cursor: pointer;
            padding: 0.5rem;
            border-radius: 50%;

            &:hover {
                opacity: 0.7;
            }
        }

        .nav__link{
            display: block;
            margin-left: 1rem;
            text-decoration: none;
            color: white;
        }
    }
}



.container {
    width: 100%;
    height: 100%;
    display: flex;

    .aside {
        width: 400px;
        height: 100%;
        background: snow;
    }

    .content {
        width: 100%;
        height: 100%;
        background: black;
    }
}



.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    

    .modal__container {
        border: 2px solid yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        width: 90vw;
        padding: 2rem;
        background: snow;

        .modal__form {
            border: 2px solid white;
            display: flex;
            flex-direction: column;
            max-width: 500px;
            width: 90vw;
            color: black;
            
            .form__closeBtn {
                background: transparent;
                border: none;
                width: 100%;
                text-align: right;
                cursor: pointer;
                color: red;
                font-weight: bold;

                    &:hover {
                        font-size: 1.5rem;
                    }

                
            }
        }
    }
}

.show {
    transform: translateY(0);
}